body {
    background-color: #003865;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*
Complimentary colours are #0E8258 #73820E #820E39
(From https://www.hexcolortool.com/)
*/

#outerContainer {
    margin: 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #003865;
}

#pageHeader {
    position: fixed;
    top: 8px;
    height: 72px;
    width: 195px;
    overflow: auto;
    background: url(logo-gu-retina.png) no-repeat 15% center;
    background-size: auto 70%;
    z-index: 10;
}

#pageHeader a{
    width:290px;
    height: 72px;
    display:block;
    margin: 0;
    padding: 0;
	color: transparent;
	z-index: 5;
}

#innerContainerFrame {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
}

#innerContainer {
    display: table-row;
    height: 100%;
}

#leftOuter {
    position: relative;
    left: 0;
    height: 100%;
    display: table-cell;
	width: 200px;
    min-width: 200px;
    max-width: 250px;
}

#leftOuterContainer {
    position: relative;
    left: 0;
    top: 0px;
    height: 100%;
    width: 100%;
}

#loginBox {
    border: 2px solid #4682B4;
    width: 80%;
    margin-left:8%;
    background-color: #7d2239;
    color: white;
    text-align: center;
    padding: 3px;
}

#leftContainer {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 90px;
    bottom: 0px;
}

#leftFull {
    position: absolute;
    left: 4px;
    right: 4px;
    margin: 0;
    padding: 5px;
    bottom: 8px;
    top: 0px;
    background-color: #4f5961;
    border: 4px solid #385a4f;
    border-radius: 6px;
    color: #fff;
    overflow: auto;
}

#leftFull a{
    color: #ccddff;
}

#mainOuterContainer {
    position: relative;
    display: table-cell;
    padding: 0;
}

#mainContainer {
    position: relative;
    /*top: 0px;*/
    margin: 0;
    width: 100%;
    height: 100%;
}

#mainInnerContainer {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 8px; 
}

#mainContainerFrame {
    display: table;
    position: relative;
    width:100%;
    height: 100%;
}

#mainAreaFrame{
    display: table-row;
}

#mainAreaContainer {
    position: relative;
    display: table-cell;
    background-color: #fff;
    height: 100%;
}

#mainInfo {
    position: relative;
    top: 0px;
    margin: 0;
    width: 100%;
    background-color: #003865;
    color: #fff;
    height: 32px;
}

#mainArea {
    position: relative;
    height: 100%;
    width: 100%;
}

#mainContent {
    position: absolute;
    top: 1px;
    bottom: 5px;
    left: 1px;
    right: 1px;
    background: #ffffff;
    margin: 0px;
    padding: 2px;
    overflow:scroll;
}

#rightOuter {
    position: relative;
    height: 100%;
    display: table-cell;
    right: 4px;
    width: 35%;
}

#rightOuterContainer {
    position: relative;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
}

#rightContainer {
    position: absolute;
    right: 4px;
    left: 4px;
    
    top: 4px;
    height:100%;
    bottom:4px;
}

#rightFull {
    position: absolute;
    background-color: #fff;
    left: 4px;
    right: 4px;
    margin: 0;
    top: 0px;
    bottom: 8px;
    border: 2px solid #003377;
    overflow: auto;
}

.toolBtn {
    position: relative;
    border: 4px solid #ffdc36;
    background-color: #ffb948;
    border-radius: 4px;
    height: 36px;
    padding: 2px;
    margin: 5px;
    top: 5px;
}

.toolBtn:hover
{
    background-color: #ffdc36;
    border-color: #ffb948;
}

#editarea{
    left: 0;
  width: 98%;
  height: 95%;
  padding: 10px;
  margin: 0;
  font: 14px/20px 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.notebook{
    border: 1px solid #bbbbbb;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 1200px;
    padding: 15px;
}

.code{
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #f7f7f7;
    padding:3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.output{
    border: 1px solid #aaf;
    background-color: #f7ffff;
    padding:3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

